<template>
  <div class="<%= data.lowerName %>">{{ message }} to {{ name }}</div>
</template>

<script setup>
  import { ref, toRefs, defineProps } from "vue";
  const props = defineProps({
    name: {
      type: String,
      default: 'lzhvue'
    }
  });
  let message = ref('hello')
  const { name } = toRefs(props)
</script>

<style lang="scss" scoped>
  .<%= data.lowerName %> {
  }
</style>
